{
	"tabWidth": 4,
	"useTabs": true,
	"semi": false,
	"arrowParens": "avoid",
	"printWidth": 100,
	"overrides": [
		{
			"files": "**/*.yml",
			"options": {
				"useTabs": false,
				"tabWidth": 2
			}
		},
		{
			"files": "**/*.sol",
			"options": {
				"compiler": "0.8.17"
			}
		}
	]
}
